<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.daegu.springbootapi.board.model.BoardDAO">
    <select id="getBoardList" resultType="kr.ac.daegu.springbootapi.board.model.BoardDTO">
        select * from board where isDel = 'N'
    </select>

    <insert id="postBoard" parameterType="kr.ac.daegu.springbootapi.board.model.BoardDTO">
        insert into board (author, subject, content, writeDate, writeTime, readCount, commentCount, password, replyRootId, depth, orderNum)
        values (#{author}, #{subject}, #{content}, CURDATE(), CURTIME(), 0, 0, #{password}, 0, 0, 0)
    </insert>

    <update id="putBoard" parameterType="kr.ac.daegu.springbootapi.board.model.BoardDTO">
        UPDATE BOARD
        SET author=#{author},
            content=#{content},
            subject=#{subject},
            writeDate=#{writeDate},
            writeTime=#{writeTime},
            password=#{password}
        WHERE id=#{id}
    </update>

    <select id="getBoardById" parameterType="int" resultType="kr.ac.daegu.springbootapi.board.model.BoardDTO">
        SELECT * from Board
        WHERE id = #{id} and isDel = 'N'
    </select>
    <!-- 2번 수행하기 위해 comment 데이터 -->
    <select id="getBoardComment" parameterType="int" resultType="kr.ac.daegu.springbootapi.board.model.CommentDTO">
        select * from comment where id=#{id}
    </select>


    <update id="updateIsDelBoardById" parameterType="int">
        UPDATE BOARD
        SET isDEL = 'Y'
        WHERE id = #{id}
    </update>


    <select id="getBoardByIdOri" parameterType="int" resultType="kr.ac.daegu.springbootapi.board.model.BoardDTO">
        SELECT * from Board
        WHERE id = #{id}
    </select>

</mapper>

<!--
1003~~~~~1005
    <resultMap id="getBoardById3" type="kr.ac.daegu.springbootapi.board.model.BoardDTO">
        <id property="id" column="id"/>
        <result property="id" column="id"/>
        <result property="author" column="author"/>
        <result property="subject" column="subject"/>
        <result property="content" column="content"/>
        <result property="writeDate" column="writeDate" />
        <result property="writeTime" column="writeTime" />
        <result property="readCount" column="readCount" />
        <result property="commentCount" column="commentCount" />
        <result property="password" column="password" />
        <result property="replyRootId" column="replyRootId" />
        <result property="depth" column="depth" />
        <result property="orderNum" column="orderNum" />
        <collection property="commentList" column="id"  ofType="kr.ac.daegu.springbootapi.board.model.CommentDTO" select="comments">
        </collection>
    </resultMap>

    <select id="getBoardById2" resultMap="getBoardById3">
        SELECT * from board
        WHERE id = #{id} and isDel = 'N'

        select *
        from board b , comment c
        where b.id =c.id and c.id=#{id} and b.isDel = 'N'
    </select>

    <select id="getBoardComment2"  resultType="kr.ac.daegu.springbootapi.board.model.CommentDTO">
        select *
        from comment
        where id=#{id}
    </select>




    <resultMap id="getBoardById3" type="kr.ac.daegu.springbootapi.board.model.BoardDTO">
        <id property="id" column="id" />
        <result property="id" column="b_id" />
        <result property="author" column="b_author" />
        <result property="subject" column="b_subject" />
        <result property="content" column="b_content" />
        <result property="writeDate" column="b_writeDate" />
        <result property="writeTime" column="b_writeTime" />
        <result property="readCount" column="b_readCount" />
        <result property="commentCount" column="b_commentCount" />
        <result property="password" column="b_password" />
        <result property="replyRootId" column="b_replyRootId"/>
        <result property="depth" column="b_depth" />
        <result property="orderNum" column="b_orderNum" />
        <collection property="commentList" ofType="kr.ac.daegu.springbootapi.board.model.BoardDTO" >
            <id property="id" column="c_id" />
            <result property="id" column="c_id"/>
            <result property="author" column="c_author" />
            <result property="content" column="c_content" />
            <result property="writeDate" column="c_writeDate" />
            <result property="writeTime" column="c_writeTime" />
        </collection>
    </resultMap>

    <select id="getBoardById2" parameterType="int" resultMap="getBoardById3">
        select
            b.id b_id ,b.author b_author , b.subject b_subject , b.content b_content ,b.writeDate b_writeDate , b.writeTime b_writeTime ,
            b.readCount b_readCount ,b.commentCount b_commentCount ,b.password b_password , b.replyRootId b_replyRootId ,b.`depth` b_depth ,b.orderNum b_orderNum ,
            c.id c_id , c.author c_author , c.content c_content , c.writeDate c_writeDate , c.writeTime c_writeTime
        from board b , comment c
        where b.id =c.id and c.id=1 and b.isDel = 'N'
    </select>
-->


    <!--<select id="selectUsers" parameterType="me.fleuve.springboot03.dto.UserDTO"
            resultType="me.fleuve.springboot03.dto.UserDTO">&lt;!&ndash; selectUsers()메서드를 호출하면 실행할 SELECT문이며, UserDTO 객체를 파라미터로 받아, UserDTO객체를 반환합니다.&ndash;&gt;
        SELECT `seq`, `name`, `country`
        FROM lab03
        <if test='country != null and country != ""'>&lt;!&ndash; 만약 파라미터에 country가 있다면 SQL문에 WHERE절을 추가합니다. &ndash;&gt;
            WHERE country = #{country}
        </if>
    </select>-->




        <!-- 0929 미션 > 성공한 쿼리 : 글 삽입
            <insert id="insertBoard" parameterType="kr.ac.daegu.springbootapi.board.model.BoardDTO">
                insert into board (id,author, subject, content, writeDate, writeTime, readCount, commentCount, password, replyRootId, `depth`,orderNum)
                select max(id) + 1, #{author}, #{subject}, #{content},  CURDATE(), CURTIME(), 0, 0, #{password},max(id) + 1,0,0
                from board
            </insert>
        -->

        <!--
        0930 미션 > 성공한 쿼리
        글 읽기 쿼리
            <select id="getBoardRead" parameterType="kr.ac.daegu.springbootapi.board.model.BoardDTO" resultMap="boardRead">
                Select * from board where id=#{id}
            </select>
            <resultMap id="boardRead" type="kr.ac.daegu.springbootapi.board.model.BoardDTO"/>

        글 삭제 쿼리
            <delete id="deleteBoard" parameterType="kr.ac.daegu.springbootapi.board.model.BoardDTO">
                delete from board where id=#{id}
            </delete>




    <select id="getBoardComment" parameterType="int" resultType="kr.ac.daegu.springbootapi.board.model.CommentDTO">
        select id, author, content from comment where id=#{id}
    </select>

    <resultMap id="getBoardById3" type="kr.ac.daegu.springbootapi.board.model.BoardDTO">
        <result property="id" column="id"/>
        <result property="author" column="author"/>
        <result property="subject" column="subject"/>
        <result property="content" column="content"/>
        <collection property="commentList" column="id" javaType="java.util.ArrayList" ofType="kr.ac.daegu.springbootapi.board.model.CommentDTO" select="getBoardComment2"/>
    </resultMap>




    <select id="getBoardById2" resultType="getBoardById3">
        SELECT * from board.id ,board.author ,board.subject ,board.content
        WHERE id = #{id} and isDel = 'N'
    </select>

    <resultMap id="getBoardById3" type="kr.ac.daegu.springbootapi.board.model.BoardDTO">
        <result property="id" column="id"/>
        <result property="author" column="author"/>
        <result property="subject" column="subject"/>
        <result property="content" column="content"/>
        <collection property="board" column="id" javaType="java.util.ArrayList" ofType="kr.ac.daegu.springbootapi.board.model.CommentDTO" select="getBoardComment"/>
    </resultMap>
        -->


<!--1006

    <resultMap id="boardResultMap" type="kr.ac.daegu.springbootapi.board.model.CommentDTO">
    </resultMap>


    <select id="getBoardById2" parameterType="kr.ac.daegu.springbootapi.board.model.BoardDTO" resultMap="boardResultMap">
        SELECT * from board
        WHERE id = #{id} and isDel = 'N'
    </select>

    <select id="comments" parameterType="kr.ac.daegu.springbootapi.board.model.CommentDTO" resultMap="boardResultMap">
        SELECT * from comment
        WHERE id = #{id}
    </select>
-->