<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.daegu.springbootapi.comment.model.CommentDAO">
    <select id="getCommentList" resultType="kr.ac.daegu.springbootapi.comment.model.CommentDTO">
        select * from Comment
    </select>

    <select id="getCommentById" resultType="kr.ac.daegu.springbootapi.comment.model.CommentDTO">
       <!-- select * from board b , comment c where b.id =c.id and c.id=? -->
        select * from comment where id=#{id}
    </select>


    <insert id="postComment" parameterType="kr.ac.daegu.springbootapi.comment.model.CommentDTO">
        insert into comment (id,author,content,writeDate,writeTime)
        values (#{id}, #{author}, #{content}, CURDATE(), CURTIME())
    </insert>

    <select id="countBoard" resultType="int">
        select count(id) from board where id=#{id}
    </select>
    
</mapper>


        <!--
            <select id="commentBoardById" parameterType="int" resultType="kr.ac.daegu.springbootapi.board.model.BoardDTO">
                SELECT * from Board
                WHERE id = #{id}
            </select>

            select * from board b , comment c where b.id =c.id and c.id=?
            <select id="getCommentById2" resultType="kr.ac.daegu.springbootapi.board.model.CommentDTO">
                select * from comment where id=#{id} and cid=#{cid}
            </select>

        -->